
.band {
  text-align: justify;
  width: 100%;
  border: 6px solid gray;
  background-color: #b3e5fc;
  color: black;
  border: 2px ;
  padding: 6px;
  margin: 20px;
}
header, footer {
    padding: 1em;
    color: black;
    background-color: #4fc3f7;
    clear: left;
    text-align: center;
}
.sidebar {
  width: 20%;
  float: left;
  background-color: #03a9f4;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
div.gallery:hover {
    border: 1px solid #777;
}
div.gallery img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-align: center;
}
